<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="/css/home_customer.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome, <span th:text="${username}">User</span>!</h1>
            <nav>
                <a href="/home">Home</a>
                <a  href="/transactions/my/deposit">Deposit</a>
                 <a  href="/transactions/my/withdraw">Withdraw</a>
                 <a href="/logout">Logout</a>
            </nav>
        </header>
        
        <h3>Your Transactions</h3>
         <!-- Filtrage des transactions -->
         <form action="/home" method="get">
            <label for="type">Filter by:</label>
            <select id="type" name="type">
                <option value="">All</option>
                <option value="DEPOSIT" th:selected="${type == 'DEPOSIT'}">Deposits</option>
                <option value="WITHDRAW" th:selected="${type == 'WITHDRAW'}">Withdrawals</option>
            </select>
            <button type="submit">Filter</button>
        </form>
         <!-- Table of Transactions -->
         <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.transactionDate}"></td>
                    <td th:text="${transaction.type}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(transactions)}">
                    <td colspan="3">Aucune transaction disponible pour l'utilisateur.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
