<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
    <h1>Transaction Details</h1>
    
    <p><strong>ID:</strong> <span th:text="${transaction.id}"></span></p>
    <p><strong>Customer ID:</strong> <span th:text="${transaction.customerId}"></span></p>
    <p><strong>Amount:</strong> <span th:text="${transaction.amount}"></span></p>
    <p><strong>Type:</strong> <span th:text="${transaction.type}"></span></p>
    <p><strong>Date:</strong> <span th:text="${transaction.transactionDate}"></span></p>
    
    <a th:href="@{/home}">Back to transactions list</a>
</body>
</html>
